{{- define "main" }}

  <!-- Content -->
  <main role="main" class="site-content">
    <div class="container">
      <h3 class="font-weight-bold spanborder"><span>{{ .Title }}</span></h3>
      <div class="page-content">
        <!-- BEGIN Search -->
        <div>
          <div>
            <div id="search">
              <form method="get" accept-charset="utf-8">
                <div class="mb-4">
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label"
                      ><strong>Keywords:</strong></label
                    >
                    <div class="col-sm-10">
                      <input
                        type="text"
                        value=""
                        name="q"
                        id="elbi-input"
                        class="form-control"
                        placeholder="search keywords"
                        autofocus
                      />
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div id="elbi-results" class="font-italic p-3">Loading . . .</div>

<script>
    const input = document.getElementById("elbi-input");
    const results = document.getElementById("elbi-results");
    const request = new Request("/index.json");
    const display_score = false; // Set to true if you want to see the score in the results

    fetch(request)
        .then(response => response.json())
        .then(data => {
            let pages = data;

            input.addEventListener("input",function(){
                let filteredPages = pages;
                results.innerHTML = "";

                // If there is something in the search field
                if (input.value != ""){

                    // Reset the page score to zero
                    filteredPages.forEach(function(page) {
                        page.score = 0;
                    });

                    // Create array of search terms, split by space character
                    // Normalize and replace diacritics
                    let searchterms = input.value.normalize("NFD").replace(/[\u0300-\u036f]/g,"").toLowerCase().split(" ");

                    // Apply a filter to the array of pages for each search term
                    searchterms.forEach(function(term) {
                        if (term != "") {
                            filteredPages = filteredPages.filter(function(page) {
                                // The description is the full object, includes title, tags, categories, and summary text
                                // You could make this more specific by doing something like:
                                // let description = page.title;
                                // or you could combine fields, for example page title and tags:
                                // let description = page.title + ' ' + JSON.stringify(page.tags)
                                let description = JSON.stringify(page);
                                return description.normalize("NFD").replace(/[\u0300-\u036f]/g,"").toLowerCase().indexOf(term) !== -1;
                            });
                        }
                    }); // end of filter for loop

                    // Apply weighting to the results
                    searchterms.forEach(function(term) {
                        if (term != "") {
                            // Loop through each page in the array
                            filteredPages.forEach(function(page) {

                                // Assign 3 points for search term in title
                                if (page.title.normalize("NFD").replace(/[\u0300-\u036f]/g,"").toLowerCase().includes(term)) {
                                    page.score += 3
                                };

                                // Assign 2 points for search term in tags
                                if (JSON.stringify(page.tags).normalize("NFD").replace(/[\u0300-\u036f]/g,"").toLowerCase().includes(term)) {
                                    page.score += 2
                                };

                                // Assign 1 point for search term in summary
                                if (page.summary.normalize("NFD").replace(/[\u0300-\u036f]/g,"").toLowerCase().includes(term)) {
                                    page.score += 1
                                };

                                // Assign 1 point for search term in the page categories
                                if (JSON.stringify(page.categories).normalize("NFD").replace(/[\u0300-\u036f]/g,"").toLowerCase().includes(term)) {
                                    page.score += 1
                                };
                            })
                        };                                      
                    });

                    // Filter out any pages that don't have a score of at least 1
                    filteredPages = filteredPages.filter(function(page){
                        return page.score > 0;
                    })

                    // sort filtered results by title
                    // borrowed from https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/sort
                    filteredPages.sort(function(a, b) {
                        const titleA = a.title.toUpperCase(); // ignore upper and lowercase
                        const titleB = b.title.toUpperCase(); // ignore upper and lowercase
                        if (titleA < titleB) {
                            return -1;
                        }
                        if (titleA > titleB) {
                            return 1;
                        }
                        // titles must be equal
                        return 0;
                    });
                    
                    // then sort by page score
                    filteredPages.sort(function(a, b) {
                        return b.score - a.score;
                    });

                    // For each of the pages in the final filtered list, insert into the results list
                    filteredPages.forEach(function(page) {
                        
                        results.insertAdjacentHTML("beforeend","<li class='elbi-results-item'><h2 style='font-size: 1.5rem;'><a href='" + page.permalink + "'>" + page.title + "</a></h2><p>" + page.summary + "</p><p style='margin-top: 5px'>Tagged: <strong>" + page.tags + "</strong></p></li>");

                        if (display_score == true) {
                            results.insertAdjacentHTML("beforeend","<p>Result score: " + page.score + "</p>")
                        };

                    }); // end of page for loop

                }; // end of IF
                
            }); // end of event listener
        });
</script>
  </div>
        </div>
        <!-- EOL Search -->
      </div>
    </div>
  </main>
{{ end -}}