<div class="sticky-top sticky-top-offset">
  <h4 class="font-weight-bold spanborder"><span>Podcasts</span></h4>
  <ol class="list-featured">
    {{ $postsPodcast := where site.RegularPages "Section" "posts" }}
    {{ $postsPodcast = where $postsPodcast "Params.category" "intersect" (slice "Podcast") }}
    {{- range first 6 $postsPodcast }}
      <li class="mb-4">
        <a href="{{ .Params.youtube_url }}">
          <span>
            <h6 class="font-weight-bold">
              <p class="text-dark">{{ .Title }}</p>
            </h6>
          </span>
        </a>
      </li>
    {{ end -}}
  </ol>
  <p class="small text-center">
    <a href="/category/podcast/">Show all episodes...</a>
  </p>
</div>
